<!DOCTYPE html>
<html>
  <head>
    <title>ChatCord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "second.css" %>
    <%= stylesheet_link_tag "modals.css" %>
    <%= stylesheet_link_tag "session_form.css" %>
    <%= stylesheet_link_tag "entry_page.css" %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body className="appBackground" id="fullApp">
    <%= yield %>
  </body>
</html>
